.file-hover-in {
    background-color: red;
}

.file-hover-out {
    background-color: transparent;
}

.file {
    padding-left: 10px;
    list-style: none;
    cursor: pointer;
}

.file-text {
    color: black;
    padding-left: 5px;
    font-style: normal;
}

.folder {
    padding-left:10px;
}

.folder-text {
    color: black;
    padding: 5px;
    font-style: normal;
}

.folder-icon{
    color:#F7C600;
}